
$primary: hsl(136, 64%, 51%);
$success: hsl(233, 26%, 24%);
$info: hsl(192, 69%, 51%);
$font-family-sans-serif: 'Public Sans', sans-serif;

$body-color: hsl(233, 8%, 62%);
$headings-color: hsl(192, 69%, 51%);


@import "../../node_modules/bootstrap/scss/bootstrap";
